* {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.header {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: #f0c9ff;
    font-size: 18px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f0c9ff;
}

.header,
.desc {
    padding:20px 100px;
    background-color: #4c1372;
    color:#f0c9ff;
    font-size: 18px;
}

.desc-text {
    padding: 0px;
    margin: 0;
}

.desc-img {
    height: auto;
    width: 400px;
}

.desc {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.desc-button,
.footer-button {
    min-width: 100px;
    min-height: 30px;
    font-weight: bold;
    border-radius: 20%;
    border: 2px solid #f0c9ff;
    background-color: #c402f5;
    color:#f0c9ff
    
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #4c1372;
    background-color: #f0c9ff;
    padding: 30px;
    margin: 0px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 4em;
    align-content: center;
    padding: 30px;
    background-color: #f0c9ff;
}

.text-str
{     
    width: 250px;
    color: #4c1372;     
    /* text-align: center;
    display: flex;  
    justify-content: center;
    align-self: center */
    
}

.text {
    width: 250px;
    color: #4c1372;
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.season-img {
    width: 300px;
    height: 200px;
    border: 5px solid #c402f5;
    border-radius: 10%;
}

.quote {
    background-color: #afa2b467;
    color: #4c1372;
    padding: 30px 200px;
}

.words {
    font-size: 36px;
    font-style:italic;
}

.pooh {
    font-weight: bolder;
    font-size: 25px;
    text-align: end;
}

.footer {
    display: flex;
    color:#f0c9ff;
    background-color: #4c1372;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top:auto;
}
